<h1>Users#show</h1>
<h1>Добро пожаловать, <%= @user.username %>!</h1>

<% unless current_user == @user %>
  <% if current_user.following?(@user) %>
    <%= button_to 'Отписаться', unfollow_user_path(@user), method: :delete %>
  <% else %>
    <%= button_to 'Подписаться', follow_user_path(@user) %>
  <% end %>
<% end %>

<p><%= @user.bio %></p>

<%= link_to "Подписчики (#{@user.followers.count})", followers_user_path(@user) %>
<%= link_to "Подписки (#{@user.following.count})", followings_user_path(@user) %>
<% if user_signed_in? && current_user == @user %>
  <%= link_to 'Редактировать профиль', edit_user_path(@user) %>
<% end %>

<%= link_to "Сделать новый пост", new_post_path %>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <div class="post-container">
        <%= image_tag(url_for(post.image)) if post.image.attached? %>
        <p><%= post.description %></p>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>У этого пользователя пока нет постов.</p>
<% end %>


